{% extends 'attendance/base.html' %}

{% block title %}Select class to enter attendance for{% endblock %}

{% block content %}
<h1 class="page-header">Please pick a class from the list</h1>
<div class="list-group" id="myList">
  <a href="{% url 'attendance:enterAttendance' 'cNurseryA' %}" class="list-group-item">Nursery 'A'</a>
  <a href="{% url 'attendance:enterAttendance' 'c1A' %}" class="list-group-item">Class 1 'A'</a>
  <a href="{% url 'attendance:enterAttendance' 'c1B' %}" class="list-group-item">Class 1 'B'</a>
  <a href="{% url 'attendance:enterAttendance' 'c1C' %}" class="list-group-item">Class 1 'C'</a>
  <a href="{% url 'attendance:enterAttendance' 'c1D' %}" class="list-group-item">Class 1 'D'</a>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
 $(document).ready(function(){
   {% if alert %}
      //alert('The attendance data for {{classSection}} has been entered. Thank you!');
      swal("Attendance submitted!", "Data for {{classSection}} has been entered. Thank you!", "success")
   {% endif %}
 });
</script>
{% endblock %}


