{% extends 'notice/base.html' %}

{% block title %}Select a class to access its notices{% endblock %}

{% block content %}
<h1 class="page-header">Please pick a class from the list</h1>
<div class="list-group" id="myList">
<!--   <a href="{% url 'notice:class' 'cNurseryA' %}" class="list-group-item">Nursery 'A'</a> -->
 {% for classLink,className in zipped_data %}
  <a href="{% url 'notice:class' classLink %}" class="list-group-item">{{className}}</a>
  {% endfor %}
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
 $(document).ready(function(){
   {% if alert %}
      //alert('The attendance data for {{classSection}} has been entered. Thank you!');
      swal("Notice submitted!", "The notice has been sent to students of {{neatSection}}. Thank you!", "success")
   {% endif %}
 });
</script>
{% endblock %}


