{% extends 'notice/base.html' %}

{% block title %}Notices for {{neatSection}}{% endblock %}

{% block content %}
          <h3> Add notice for {{neatSection}}</h3>
          <div class="form-group">
            <label for="subject">What category is this notice in?</label>
            <select class="form-control" id="category" name="category">
              <option selected>General</option>
              <option>Homework</option>
              <option>Examination</option>
            </select>
          </div>
          <div id="policy1"> </div>
          <button id="save1" class="btn btn-primary btn-block" onclick="save1()" type="button" >Send Notice</button>
          <hr>
        
        <hr>
          <div class="table-responsive">
            <table class="table table-striped" id ="myTable">

              </table>
          </div>
           <div>
        <br>
        <button type="button" class="download btn btn-primary btn-block">Download Excel Sheet of past notices</button>
        </div>
        <hr>

{% endblock %}

{% block script %}
    <script>
    	var data = '';
    	Parse.initialize("Sqj2XR5GDdMcXuMsffDQ9yEdzhYJqBZYvDSMLqFC", "EhvA6Aqy067KaSoi6HdVb7Gn5OSMaxr0OwJYqkwJ");
    	var GameScore = Parse.Object.extend("Notice");
		var query = new Parse.Query(GameScore);
		query.equalTo("Classes", "{{strippedSection}}");
		// query.notEqualTo("objectId", "E57WOexIN8");
		//query.ascending("cDate");
		query.find({
		  success: function(results) {
		    //alert("Successfully retrieved " + results.length + " notices.");
		    // This is the code to build a csv object to download Excel-like data
		    data = 'Created At, Category, Message' + '\r\n'



		    // this is the code for filling up the table
		    var out = "<thead><tr><th>" + "Created At" + "</th><th>" + 
    "Category" + "</th><th>" + 
    "Message" +
    "</th></tr></thead><tbody>";     
		    for (var i = 0; i < results.length; i++) {
		      var object = results[i];
		      out+="<tr><td>" + 
        object.createdAt +"</td><td>" +
        object.get('Category') +"</td><td>" +
        object.get('message') +"</td><td>" + "</td></tr>";
        line = ''
         line += '"' + object.createdAt + '"';
        line += ",";
        line += '"' + object.get('Category') + '"';
      line += ",";
      line += '"' + object.get('message') + '"' ;
      data += line + '\r\n';
		      //alert(object.id + ' - ' + object.get('Ram'));
		    }
		    out+="</tbody>";
		    document.getElementById("myTable").innerHTML = out;

		  },
		  error: function(error) {
		    alert("Error: " + error.code + " " + error.message);
		  }
		});
        // Code for downloading CSV starts here
        $(document).ready(function () {
            $('.download').click(function(){
                if(data == '')
                    return;
            CSVDownloader(data, true);
             });

        });
        function CSVDownloader(CSV,ShowLabel) {    
    
    if (CSV == '') {        
         growl.error("Invalid data");
         return;
    }
   
    //var fileName = Date.today().toString('MMMM_dd');
    var fileName = "output"
    if(msieversion()){
    var IEwindow = window.open();
    IEwindow.document.write('sep=,\r\n' + CSV);
    IEwindow.document.close();
    IEwindow.document.execCommand('SaveAs', true, fileName + ".csv");
    IEwindow.close();
    } else {
     var uri = 'data:application/csv;charset=utf-8,' + escape(CSV);
     var link = document.createElement("a");    
     link.href = uri;
     link.style = "visibility:hidden";
     link.download = fileName + ".csv";
     document.body.appendChild(link);
     link.click();
     document.body.removeChild(link);
    }
}
function msieversion() {
    var ua = window.navigator.userAgent; 
    var msie = ua.indexOf("MSIE "); 
    if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) // If Internet Explorer, return version number 
    {
        return true;
    } else { // If another browser, 
        return false;
    }
        return false; 
}

    </script>

    <script type="text/javascript">

    $(document).ready(function () {
      $('#policy1').summernote({focus: true, height: 200});
       });

    var save1 = function() {
      var policyText1 = $('#policy1').code(); //save HTML If you need(aHTML: array).
      if(policyText1.length > 318){
        swal("Message too long", "Notices must be less than 320 charecters", "error");
        return;
      }
      $('#policy1').destroy();
    var GameScore = Parse.Object.extend("Notice");
    var gameScore = new GameScore();
    var selectedCategory = document.getElementById('category').value

    gameScore.set("Category", selectedCategory);
    gameScore.set("Classes", ['{{strippedSection}}']);
    gameScore.set("message", policyText1);

    gameScore.save(null, {
      success: function(gameScore) {
        // Execute any logic that should take place after the object is saved.
        // alert('Your notice had been sent. Reload page to send another notice');
        swal("Notice sent!", "Reload page to send another notice", "success")
      },
      error: function(gameScore, error) {
        // Execute any logic that should take place if the save fails.
        // error is a Parse.Error with an error code and message.
        swal("Failed to send notice", "There seems to be an error. Try again or contact support", "error")
        //alert('Failed to create new object, with error code: ' + error.message);
      }
          });
  }       

    </script>

{% endblock %}