{% extends 'marks/base.html' %}
{% block title %}Enter marks for {{neatSection}} {% endblock %}

{% block content %}
<h1 class="page-header">{{neatSection}}</h1>

<div>
	<br>

<a href="{% url 'marks:viewMarks' classSection %}" class="btn btn-primary btn-block" role="button">View Marks for this class</a>

</div>
<hr>

<form action="{% url 'marks:enterMarks' classSection %}" method="POST" >
{% csrf_token %} 

<div class="form-group">
  <label for="date">What date are these marks for? </label>
  <input type="text" class="form-control" id="date" name="date">
</div>
<div class="form-group">
      <label for="subject">What subject are these marks for?</label>
      <select class="form-control" id="subject" name="subject">
        <option>Hindi</option>
        <option>English</option>
        <option>Math</option>
        <option>Science</option>
      </select>
</div>
      <div class="form-group">
      <label for="category">What category do these marks belong to?</label>
      <select class="form-control" id="category" name="category">
        <option>Final</option>
        <option>Half-yearly</option>
        <option>Weekly</option>
        <option>Assignment</option>
      </select>
</div>

<div class="form-group">
  <label for="total">What is the total marks for the paper? [Numbers only, example, 100]</label>
  <input type="text" class="form-control" id="total" name="total">
</div>

<table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Student's Name</th>
        <th>Student's Marks</th>
      </tr>
    </thead>
    <tbody>

{% for o in studentList %}
<tr>
        <td><label for="total">{{o}}</label></td>
        <td><div class="form-group">
  			<input type="text" class="form-control" name="{{o}}">
		</div></td>
    </tr>
{% endfor %}
</tbody>
  </table>
<input type="submit" value="Submit Marks" class="btn btn-primary btn-block" role="button">

</form>
<hr>

{% endblock %}

{% block script %}
<script>
$( "#date" ).datepicker(
	{dateFormat: "d/m/yy"});

</script>

{% endblock %}
